.latest-topic-list-item span[title="This topic has a solution"] {
  position: static;
  .d-icon-far-check-square {
    display: none !important;
  }
  .d-icon {
    margin-right: 0.3rem !important;
  }

  .d-icon.d-icon-calendar-alt {
    margin-right: 0 !important;
  }
}

.latest-topic-list-item span[title="This topic has a solution"]::after {
  content: "\2713 \00a0 Solved";
  color: var(--blend-primary-secondary-5);
  font-size: var(--font-down-1);
  font-weight: 700;
  background-color: var(--tertiary);
  border-radius: 5%;
  position: absolute;
  display: block;
  width: 70px;
  padding: 3px 6px;
  height: 20px;
  right: 50px;
  top: 13px;
}

.latest-topic-list-item .main-link {
  max-width: 95% !important;
}

div.main-link > div.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  .creation-info {
    display: flex;
    align-items: center;
    > * {
      margin-right: 10px;
    }
    .createTime {
      font-size: var(--font-down-1) !important;
    }
    .creator {
      font-size: var(--font-down-1) !important;
    }
  }
  .createTime > a {
    color: var(--primary-medium) !important;
    text-align: center !important;
    font-size: var(--font-0-rem);
  }
  .d-icon {
    color: var(--tertiary) !important;
  }
  div.like {
    display: flex;
    align-items: center;
  }
  .num.posts-map.topic-list-data {
    span {
      color: var(--primary);
    }
  }
  .d-icon-far-comment {
    margin-right: 0.27rem;
  }
}
.latest-topic-list-item div.main-link {
  line-height: 1.71428571;
  position: relative;
    align-items: center;
    display: grid;
    grid-template-columns: max-content auto;
  .category {
    line-height: normal;
  }
  a.title {
    font-weight: 700 !important;
    font-size: var(--font-up-1) !important;
    color: var(--header_primary) !important;
    display: block;
    padding: 8px 0 !important;
  }
  a.topic-excerpt {
    color: var(--primary-high);
    font-size: 14px;
  }
  div.creator a {
    font-weight: 700;
    color: var(--primary) !important;
  }
}
.latest-topic-list .posts-map,
.top-topic-list .posts-map {
  font-size: var(--font-0);
  font-weight: normal;
  color: var(--primary-medium) !important;
}

.latest-topic-list {
  .table-heading {
    display: none;
  }
}

div.latest-topic-list-item:hover {
  outline: 1.5px solid var(--tertiary);
  box-shadow: 0px 0px 5px #ebedef;
}

.poster-avatar {
  justify-self: center;
  align-self: self-start;
}

.categories-and-latest,
.categories-and-top {
  display: block;
  width: 100%;
}

div.latest-topic-list-item {
  gap: 10px;
  .poster-avatar {
    padding: 0;
  }
}

.categories-grid {
  display: flex;
  gap: 2em;
}
.muted-categories {
  display: none;
}

@media screen and (max-width: 1150px) {
  .latest-topic-list-item span[title="This topic has a solution"]::after {
    right: 10px;
  }
}

@media screen and (max-width: 950px) {
  .categories-grid {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .categories-and-latest div.column {
    width: 100%;
    max-width: 100% !important;
  }
}
