.latest-topic-list-item span[title="This topic has a solution"] {
    position: relative;
    .d-icon-far-check-square {
      display: none !important;
    }
  
  }
  
  .latest-topic-list-item span[title="This topic has a solution"]::after {
    content: "\2713 \00a0 Solved";
    color: var(--blend-primary-secondary-5);
    font-size: var(--font-down-1);
    font-weight: 700;
    background-color: var(--tertiary);
    border-radius: 5%;
    position: absolute;
    display: block;
    width: 70px;
    padding: 3px 6px;
    height: 20px;
    left: 20px;
    top: 15px;
  }
.categories-and-latest div.column{
   width: auto;
    max-width: 70% !important;
}
.latest-topic-list-item .main-link {
    max-width: 95% !important;
}
  
  div.main-link > div.grid {
    display: grid;
    grid-template-columns: 150px 150px auto 250px;
    align-items:center !important;
    // margin-bottom: 1%;
    .createTime > a {
      color: var(--primary-medium) !important;
      text-align: center !important;
      font-size: var(--font-0-rem);
  
    }
    .d-icon {
      color: var(--tertiary) !important;
    }
    div.like {
      grid-column-start: 4;
      
      margin: 2%;
      
      display: grid;
      grid-template-columns: repeat(3, 33.3%);
      align-items: center;
      
    } 
  
  }
  .latest-topic-list-item div.main-link {
    a.title {
        font-weight: 700 !important;
      font-size: var(--font-up-1) !important;
      color: var(--header_primary) !important;
      display: block;
    }
    a.topic-excerpt {
        color: var(--primary-high);
    }
    div.creator a{
        font-weight: 700;
        color: var(--primary) !important;
        
    }
  }
  .latest-topic-list .posts-map, .top-topic-list .posts-map{
    font-size: var(--font-0);
    font-weight: normal;
    color: var(--primary-medium) !important;
}
  
//   .latest-topic-list .posts-map .main-link .like {
//     font-size: var(--font-up-1);
//     font-weight:normal;
//     color: var(--primary-medium) !important;
//     span.number {
//         counter-reset: var(--primary-medium);
//     }
// }
  div.latest-topic-list-item {
   
    display: grid !important;
    width: 95%;
    grid-template-columns: 10% 90%;
    // margin-left: 0%;
    
  }

  div.latest-topic-list-item:hover{
    outline: 1.5px solid var(--tertiary);
    box-shadow: 0px 0px 5px #ebedef;
}
  
 
  .poster-avatar {
    justify-self: center;
    padding-top: 20px;
  }
  
 
  

  
  @media screen and (max-width: 1150px) {
   
    div.main-link > div.grid {
      display: grid;
      grid-template-rows: 50% 50%;
      grid-template-columns: 50% 50%;
      align-items:center !important;
      div.like {
       grid-row-start: 2; 
       grid-column: 1/-1;
       .likes {
        grid-column-start: 1;
  
       }
       .views {
        display: inline-block !important;
        grid-column-start: 2;
  
       }
       .posts {
        grid-column-start: 3;
       }
     
      }
      
    }
  }